input,
textarea {
  background-color: rgba(255, 255, 255, 0.082);
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 15px !important;
  color: white;
  transition: 0.4s linear;
}

label {
  padding-left: 10px;
  font-size: 0.9rem;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  background-color: rgba(255, 255, 255, 0.164);
  transition: 0.4s linear;
}
